:root {

	--black:          #42395D;
	--dark-grey:      #75507B;
	--red:            #A8757B;
	--light-red:      #FFB8D1;
	--green:          #FF857F;
	--light-green:    #F1568E;
	--brown:          #E6C000;
	--yellow:         #D5A425;
	--blue:           #AE81FF;
	--light-blue:     #C5A3FF;
	--magenta:        #716799;
	--light-magenta:  #8077A8;
	--cyan:           #C2FFDF;
	--light-cyan:     #C2FFFF;
	--light-grey:     #F8F8F2;
	--white:          #F8F8F0;

	--background: var(--magenta);
	--color: var(--light-grey);
	--highlight: var(--black);
	--accent: var(--light-green);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: serif;
	background-color: var(--background);
	color: var(--color);
}

.main-content {
	padding: 1em;
	/* background-color: var(--light-magenta); */
	width: min(40em, 95vw);

}

.wrapper {
	display: flex;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1em;
	max-width: 99%;
	min-width: 40em;
}

@media (max-width: 500px) {
	.wrapper {
		flex-direction: column-reverse;
	}
}

#navbar {
	display: flex;
	flex-direction: row;
	flex: 1 10em;
	justify-content: flex-start;
	align-items: center;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	padding: 1em, 0px;
	font-family: monospace;
}

.active {
	border-width: .1em;
	border-style: solid;
	border-color: var(--color);
}

.nav-link, nav header, .nav-link:visited {
	padding: .5em 2em;
	text-align: center;
	color: var(--color);
}

.date {
	margin-left: auto;
}

.postinfo {
	display: flex;
	margin: 1em 0;
	padding: 0 0 0 0;
}

#tags {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	padding-left: .5em;
}

#tags-list {
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
}

.cc-badge {
	width: 5em;
}

a, a:visited {
	color: var(--cyan);
}

code, pre {
	background-color: var(--highlight);
	font-family: monospace;
}
pre {
	border-width: 1px 1px 1px 5px;
	border-style: solid;
	border-color: var(--highlight) var(--highlight) var(--highlight) var(--brown);
	padding: .5em;
}

code > p {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: var(--brown);
	overflow: scroll;
}

h1, h2 {
	font-family: monospace;
}

h1 {
	font-size: 3em;
	text-align: center;
	margin: auto;
	padding: 0.5em;
	border-color: var(--brown);
	border-style: solid;
	border-width: 0.1em;
	box-shadow: 0.1em 0.1em 0.2em var(--accent);
	/* border-radius: 1em; */
}

h2 {
	font-size: 2em;
	text-align: right;
	border-width: 0 0 0.2em 0;
	border-style: solid;
	border-color: var(--accent);
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: center;
}

h4 {
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: var(--base00);
}

.list-item{
	margin: .25em;
	padding: .25em;
}

.button {
	text-decoration: none;
}

.license-text {
	text-align: center;
}

audio {
	align: center;
}

img {
	border-radius: 1em;
	border-width: 0.5em;
	opacity: 70%;
	height: 20em;
	width: auto;
}
