<!DOCTYPE html>
<html>
	{{- partial "head.html" . -}}
	<body>
		<!-- <h1>{{- .Title }}</h1> -->
		<div class="main-content">
			<nav class="crumbs">
				{{- partial "breadcrumb.html" . -}}
				{{ if .Parent }}>{{ end }}
				<h1>{{ .Title }}</h1>
			</nav>
			{{- block "main" . }}{{- end }}
			{{- partial "footer.html" . -}}
		</div>
	</body>
</html>
