{{ define "title" }}
	{{ .Title }}
{{ end }}
{{ define "main" }}
	{{ .Content  }}
	<section id="list">
		{{- range .Data.Pages.ByDate.Reverse }}
		<section class="list-item">
			{{ if eq .Kind "page"}}
				{{ .Date.Format "2006-01-02" }}
			{{end}}
			<a href="{{- .Permalink }}">{{ .Title }}</a>
		</section>
	{{- end }}
	</section>
{{ end }}
