{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
	<section class="postinfo">
		<span class="wordcount">{{ .WordCount }} words // {{ div .WordCount 200 }} minute read</span>
		<span class="date">
			Author: {{ $.Param "author" }} //
			Published: {{ .Date.Format "2006-01-02" }}
		</span>
	</section>
        {{ if eq .Kind "page" }}
        <div id="tags">Tags on this post:
                {{ range .Params.tags }}
                 <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize  }}">{{ . }}</a>
                {{ end }}
        </div>
        {{ end }}
	<section>{{ .Content }}</section>
</main>
{{ end }}
