<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Dorian Wood">
	<meta name="Content-Type-Script" content="text/javascript" />
	<meta name="Content-Type-Style" content="text/css" />
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
	<meta name="revisit-after" content="7 days" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
	<link rel="stylesheet" type="text/css" href="{{ "css/style.css" | relURL }}?v={{now.Unix}}">
	{{ with .OutputFormats.Get "RSS" }}
      <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ site.Title }}" />
    {{ end }}
</head>
