<nav id="navbar">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="nav-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
        {{ if eq .Kind "page" }}
        <div id="tags">Tags on this post:
            <ul id="tags-list">
                {{ range .Params.tags }}
                <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize  }}">{{ . }}</a></li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
</nav>
