{{ define "main" }}
	{{ .Content }}
    {{ $currentPage := . }}
    {{ range .Site.Menus.social }}
    <a class="button" rel="me" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a><br>
    {{ end }}
<br>
    {{ .Site.Copyright }}
{{ end }}
