{{ define "title" }}
	{{ .Title }}
{{ end }}
{{ define "main" }}
		{{ .Content }}
		<section id="list">
		{{- range .Data.Pages }}
		<section class="list-item">
			<a href="{{- .Permalink }}">{{ .Title }}</a>
		</section>
	{{- end }}
		</section>
{{ end }}
