<!-- Audio Player -->
<audio controls>
  <source src="{{.Get `file`}}.ogg" type="audio/ogg">
    <source src="{{.Get `file`}}.mp3" type="audio/mpeg">
      <p>Your browser does not support the <code>audio</code> element.</p>
</audio>
